table {
    border: 1px solid rgb(224, 205, 205);
    background-color: chocolate;
}

h1 {
    background-color: gray;
}
th,tr{
    text-align: center;
    padding: 10px;
}
caption{
    font-weight: bold;
    text-align: center;
}
a:link{
    text-decoration: none;
}
a:hover{
    color: brown;
}


<!-- -->

h2{
    background-color: rgb(194, 139, 139);
}

body{
    background-image: url("photos/k.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

}